<div class="page-wrapper">
  <div class="profile-image">
     <%= image_tag "poe.png" %>
  </div>

  <div class="content">
    <h1>Mr. Supporter</h1>
    <p>  
      Path of Exile: Conquerors of the Atlas Gem Information
      Dec 12, 2019, 2:55:24 AM
      Our Conquerors of the Atlas expansion launches in just two days! In order to help you with your builds, we've prepared gem data at level 20 with 20% quality for all the new and reworked gems in 3.9.0. Check them out in this news post!
    </p>
  </div>
</div>
